{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env"
  ]
}
// {
//   presets: [
//     "react",
//     "stage-3",
//     [
//       "env",
//       {
//         "targets": {
//           "browsers": [
//             "last 2 versions"
//           ]
//         }
//       }
//     ]
//   ]
// }
